spring:
  datasource:
    url: jdbc:postgresql://localhost:5430/identity_db
    username: postgres
    password: postgres

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.digitalecosystem: DEBUG
    org.springframework.security: DEBUG